.apresentacao_coordenador {
  margin-top: 100px;
  display: block;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  margin-left: 150px;
}

.apresentacao {
  font-family: "Playfair Display", serif;
  margin-top: -50px;
  display: block;
  text-align: center;
  font-size: 105px;
  font-weight: 1000;
  margin-top: -100px;
}

.pipe {
  font-family: "Raleway Especial";
  font-weight: 10;
  font-size: 100px;
  color: #585858;
  margin-left: -180px;
}

.div_informacoes_coordenador {
  width: 1300px;
  height: 600px;
  margin-left: 400px;
  background-color: #f2f2f2;
}

.p {
  width: 650px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 500px;
  margin-top: -500px;
  color: #b2b1b8;
  font-weight: 100;
  line-height: 52px;
}

.email_coordenacao {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  text-align: justify;
  margin-left: 490px;
}

.contato {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 25px;
  text-align: justify;
  margin-left: 490px;
}

.separacao {
  margin-left: 490px;
}

.figura_coordenador {
  width: 400px;
  margin-left: -20px;
  margin-top: -10px;
}

.button {
  margin-top: 50px;
  font-size: 20px;
  color: #2e9afe;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin-left: 800px;
  border: solid 2px;
}

.button:hover {
  background-color: #fe6192;
  color: #fff;
}

.figura_imagem {
  margin-top: -100px;
  margin-left: 1280px;
}

.bola_cortada {
  opacity: 0.2;
  margin-top: -200px;
  margin-left: -350px;
}
