.body {
  padding: 50px;
  background-color: #0a3981;
  color: #fff;
  width: 1930px;
}

.h1 {
  text-align: center;
  font-size: 15px;
}

.h2{
  font-size: 120px;
}

.professores {
  background-color: #fff;
  width: 350px;
  height: 650px;
}

.p {
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.figura_coordenador {
  width: 350px;
  height: 500px;
}

.espacamento{
   padding-top: 150px;
}


.cards_professores{
  align-items: center;
  justify-content: center;
  display: flex;
}

.card{
  padding: 10px;
  margin: 10px;
  
}


.pergunta{
  margin-top: 100px;
  display: block;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  margin-left: 50px;
}