.info{
  display: block;
  margin-left: 400px;
  margin-top: -450px;
  padding: 100px;
  width: 400px;
}


.pergunta{
  margin-top: 100px;
  display: block;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  margin-left: -45px;
  width: 400px;
}

.pipe {
  font-family: "Times New Roman", Times, serif;
  font-weight: 10;
  font-size: 100px;
  color: #585858;
  margin-left: -100px;
  margin-top: -100px;
}

.curso{
  font-family: "Times New Roman", Times, serif;
  margin-top: -50px;
  display: block;
  text-align: center;
  font-size: 105px;
  font-weight: 1000;
  margin-top: -100px;
  margin-left: -150px;
}

.detalhes {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 480px;
  border: 10px;
  width: 250px;
  margin-top: 350px;
}

.informacoes {
  display: inline-block;
  align-items: center;
  width: 650px;
  height: 500px;
  background-color: #F2F2F2;
  margin-left: 700px;
  margin-top: -300px;
}

.cidades {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #b2b1b8;
  font-size: 20px;
  text-align: justify;
  margin-left: 40px;
  
}

.cidadeRioDoSul{
  text-decoration: underline;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  text-align: justify;
  margin-left: 40px;
}




.h1 {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 90px;
  color: black;
  
}

.p {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #b2b1b8;
  font-size: 18px;
  text-align: justify;
  margin-left: 85px;
}

.h2 {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.figura_imagem {
  display: block;
  margin-left: 10px;
}

.div_imagem_grade {
  display: block;
  margin-left: 1350px;
  margin-top: -590px;
  width: 200px;
  height: 600px;
}

.fim {
}
