.alinhamento_div {
  margin-top: 100px;
  margin-left: 200px;
}

.card {
  margin-top: 50px;
  display: inline-table;
  padding: 20px;
}

.hr {
  width: 1330px;
}

.galeriaNoticias {
  font-family: "Montserrat", sans-serif;
  color: #4000ff;
  display: block;
  margin-left: 1240px;
  width: 200px;
}

.modal {
  width: 1100px;
  height: 900px;
  margin-left: 150px;
}

.p {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.imagem_principal_noticia {
  width: 300px;
  height: 250px;
  margin-left: 350px;
}

.imagem_principal_noticia1 {
  padding: 10px;
  margin-left: 10px;
  display: inline-table;
  width: 320px;
  height: 250px;
}
