.pergunta {
  margin-top: 100px;
  display: block;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  margin-left: 150px;
}

.curso {
  font-family: "Times New Roman", Times, serif;
  margin-top: -50px;
  display: block;
  text-align: center;
  font-size: 105px;
  font-weight: 1000;
  margin-top: -100px;
  margin-left: 20px;
}

.pipe {
  font-family: "Times New Roman", Times, serif;
  font-weight: 10;
  font-size: 100px;
  color: #585858;
  margin-left: -100px;
}

.div_imagem_curso {
  display: block;
  align-items: center;
  margin-left: 150px;
}

.figura_imagem {
  display: block;
  margin-top: -850px;
  margin-left: -150px;
}

.descricao {
  width: 700px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 1000px;
  margin-top: -10px;
  color: #b2b1b8;
  font-weight: 100;
  line-height: 1.5;

}

.descricao_detalhada {
  width: 700px;
  font-family: "Montserrat", sans-serif;
  color: #b2b1b8;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 1000px;
  margin-top: 100px;
  line-height: 2;
}

@media (max-width: 375px) {
  .pergunta {
    width: 350px;
    margin-left: 750px;
  }

  .curso {
    margin-left: 700px;
  }

  .pipe {
    margin-left: 100px;
  }

  .descricao {
    width: 500px;
    margin-left: 950px;
  }

  .descricao_detalhada {
    width: 500px;
    margin-left: 950px;
  }
}

@media (max-width: 414px) {
  .pergunta {
    width: 350px;
    margin-left: 750px;
  }

  .curso {
    margin-left: 700px;
  }

  .pipe {
    margin-left: 100px;
  }

  .descricao {
    width: 500px;
    margin-left: 950px;
  }

  .descricao_detalhada {
    width: 500px;
    margin-left: 950px;
  }
}

@media (max-width: 820px) {
  .pergunta {
    width: 350px;
    margin-left: 750px;
  }

  .curso {
    margin-left: 700px;
  }
  .pipe {
    margin-left: 100px;
  }

  .descricao {
    width: 500px;
    margin-left: 950px;
  }

  .descricao_detalhada {
    width: 500px;
    margin-left: 950px;
  }
}

@media (max-width: 912px) {
  .pergunta {
    width: 350px;
    margin-left: 750px;
  }

  .curso {
    margin-left: 700px;
  }

  .pipe {
    margin-left: 10px;
  }

  .descricao {
    width: 500px;
    margin-left: 950px;
  }

  .descricao_detalhada {
    width: 500px;
    margin-left: 950px;
  }
}

.fim {
  margin-top: 300px;
}
