* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.espacemento {
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-top: 100px;
}

body {
  background-color: #fff;
}

.max-width {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.navbar .logo a {
  margin-left: -90px;
  color: black;
  font-size: 35px;
  font-weight: 500;
}

.navbar {
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  background-color: black;
  border-bottom: solid black 1px;
  position: fixed;
}

.navbar {
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li a:hover {
  color: #fe6192;
}

.navbar .menu li {
  margin-left: 20px;
  list-style: none;
  display: inline-flex;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
  text-align: center;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.botaoInteresse {
  width: 150px;
  height: 50px;

  font-size: 18px;
  font-weight: 400;
  margin-left: -30px;

  border-radius: 50px;
  background-color: #00ff00;
}

@media (max-width: 947px) {
  .botaoInteresse {
    margin-left: 10px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    background-color: black;
    position: fixed;
    height: 200vh;
    width: 100%;
    left: -100%;
    top: 100px;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
  }

  .max-width {
    max-width: 930px;
  }
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 490px;
  padding: 50px;
}

.p {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_accordion{
  font-size: 22px;
  color: #fff;
}



/*Estilo componente Accordion*/

.alinhamento_unidades_curriculares {
  margin-left: -500px;
}


.alinhamento_estrutura{
  margin-left: -100px;

}
.alinhamento {
  display: flex;
  align-items: center;
  margin-left: 500px;
}
.container {
  width: 100%;
  max-width: 780px;
  margin: auto;
}

.accordion {
  width: 100%;
  max-width: 840px;
  margin: 18px auto;
  color: black;
}

.accordionHeading {
  border-radius: 5px;
  background-color: #0d47a1;
  padding: 14px 0;
}

.accordionHeading .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionHeading p {
  letter-spacing: 1.2px;
  font-weight: 600;
}

.accordionHeading span {
  cursor: pointer;
}

.accordionContetEstrutura {
  background-color: #f2f2f2;
  height: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.accordionContetEstrutura.show {
  height: 500px;
  opacity: 1;
}

.accordionContet {
  background-color: #f2f2f2;
  height: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.accordionContet.show {
  height: 180px;
  opacity: 1;
}

.accordionContetEstrutura p {
  font-size: 15px;
  line-height: 1.6;
}

.accordionContet p {
  font-size: 15px;
  line-height: 1.6;
}

.a {
  color: Blue;
}

.p_liga {
  margin-left: 100px;
  width: 300px;
}
.liga_medicina {
  width: 300px;
  margin-top: -180px;
  margin-left: 300px;
}



/*Estilo componentes de identificação pagina*/

.pagina_id{
  margin-left: 150px;
}

.hr {
  width: 1330px;
  margin-left: 150px;
}


/*Estilo tabs dos professores*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container_tabs {
  
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1500px;
  height: 900px;
  background: #f1f1f1;
  margin: 20px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc_tabs_professores {
  display: flex;
}

.tabs_professores {
  padding: 10px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active_tabs_professores  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active_tabs_professores::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}



button {
  border: none;
  
}
.content_tabs_professores {
  flex-grow : 1;
}
.content_professores {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content_professores h2 {
  padding: 0px 0 5px 0px;
}
.content_professores hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content_professores p {
  width: 100%;
  height: 100%;
}
.active-content-proff {
  display: block;
}
