* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.max-width {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.navbar .logo a {
  margin-left: -200px;
  color: black;
  font-size: 35px;
  font-weight: 500;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  background-color: black;
  border-bottom: solid black 1px;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li {
  margin-left: 30px;
  list-style: none;
  display: inline-flex;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
  text-align: center;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.botaoInteresse {
  width: 150px;
  height: 50px;

  font-size: 18px;
  font-weight: 400;
  margin-left: -30px;

  border-radius: 50px;
  background-color: #00ff00;
}

@media (max-width: 947px) {
  .botaoInteresse {
    margin-left: 10px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    background-color: black;
    position: fixed;
    height: 200vh;
    width: 100%;
    left: -100%;
    top: 100px;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
  }

  .max-width {
    max-width: 930px;
  }
}
